<ul class="lesson-categories">
  <% @categories.each do |categorie| %>
    <li>
      <h3>
        <%= categorie.name %>
        <%= link_to new_category_lesson_path(categorie), style: "padding-left: 800px;" do %>
          <span class="label label-default">Start</span>
        <% end %>
      <h3>  
    </li>
  <% end %>
</ul>
<%= will_paginate %>